<section class="about-us-wrap section-padding" id="about">
    <div class="container">
       <div class="row">
          <div class="col-xl-6 col-12">
             <div class="section-title">
                <span>Who We Are</span>
                <h1>Know More About <br>WeBoxApps</h1>
                <p>WeBoxApps is an agile company with focus on managed services, Cloud and AI solutions. WeBoxApps introduces a new paradigm of IT services.</p>
             </div>
             <div class="features-list color">
                <ul>
                   <li data-aos="fade-up" data-aos-duration="600" class="aos-init"><strong>Integrity:</strong> Never mislead a customer, never underestimate the customer, and never misuse an opportunity.</li>
                   <li data-aos="fade-up" data-aos-duration="600" data-aos-delay="50" class="aos-init"><strong>Competence:</strong> Articulate your skills, expand your core capabilities and outdo customer expectations.</li>
                   <li data-aos="fade-up" data-aos-duration="600" data-aos-delay="50" class="aos-init"><strong>Efficiency:</strong> Place a premium on customer's time, money and resources.</li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </section>
